@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2 style="text-align: center;">@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div class="row-fluid">
    <section class="span12">
        <p style="text-align: center; font-size: 20px; padding: 5em; ">Fire Scale Dragons raises the bar by bringing you an unbeatable value.  All of the bearded dragons for sale on our site come with free shipping and a no-hassle 30 day guarantee.  They are raised in a clean and controlled breeding facility, where they are handled daily so that they are happy to see and interact with you.</p>
        <p style="text-align: center; font-size: 20px; padding: 1em;">
            If your set up isn't ready we will hold your dragon for you after you have purchased him.  Our for sale list is constantly changing and each dragon is a unique individual that won't come again.  With our free shipping, no-hassle guarantee, and excellent customer service, we are confident that we are the bearded dragon breeder for you.  Don't let the perfect dragon get away.
        </p>
        <div>
            <img src="~/Content/images/92282453_552837932026830_7375007791297069056_n.jpg" style="padding: 23em; " />
        </div>
    </section>
</div>